[submodule "The_truth_of_Raiha-Pass"]
	path = The_truth_of_Raiha-Pass
	url = https://github.com/hiro0218/conan-raiha-pass.git
[submodule "movie-title-generator"]
	path = movie-title-generator
	url = https://github.com/hiro0218/conan-movie-title-generator.git
